<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <script src="/Content/javascripts/jquery-3.2.1.js" attr="defer"></script>
    <script src="/Content/javascripts/scripts.js"></script>
    <title>BandTracker</title>
  </head>
  <body>
    <div class="container">
      <div class="renderBody">
        @RenderBody()
      </div>
    </div>
  </body>
