@{
  Layout="Shared/_Layout.cshtml";
}


<br>
<br>
<h1>Welcome to FunGuy Entertainment's Band-Venue tracking system!</h1>
<br>
<br>
<h4><a href="/bands">View All bands!</a></h4>
<br>
<br>
<h4><a href="/venues">View All Venues!</a></h4>
